#card-dark {
  padding: 4px;
  border-color: black;
  width: "18rem";
  background-color: #363c4c;
  color: aliceblue;
}

#card-light {
  padding: 4px;
  border-color: black;
  width: "18rem";
  background-color: #836ca1;
  color: black;
}
