.Title-light {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Trebuchet MS";
  font-size: large;
  align-items: baseline;
  padding: 1em;
  color: #e8f3f1;
  background-color: #633d68;
}

.Title-dark {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Trebuchet MS";
  font-size: large;
  align-items: baseline;
  padding: 1em;
  color: #e8f3f1;
  background-color: #1b1725;
}
